*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    background-color: #24252a;
}
.logo>h1{
    color:white;
    transform:translateX(-820px);
    float: left;
    font-size: 4vh;
}
.showcase{
    background-image: url(./resources/images/adult-beans-beautiful-black-coffee-266755.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
}
li,a,button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a:hover{
    color: teal;
}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: blue;
}
button:hover{
    background-color: darkblue;
}
.coffee>li{
    display: inline-block;
    padding: 20px;
}
#image1,#image2,#image3{
    height:80vh ;
    padding: 20px;
}
h1,h2,p{
    padding: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
.coffee{
    display: flex;
    color: white;
    padding: 20px;
}
#phone,#email{
    text-align: center;
    padding: 20px;
    background: #000000;
    transform: translateX(-10px);
}
#phone li{
    padding: 5px;
    background: #000000;
}
#email li{
    padding: 5px;
    background: #000000;
}
#email li a:hover{
    background-color: darkblue;
}